[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
gunicorn = {extras = ["gevent"], version = "*"}
flask-socketio = "*"
python-dotenv = "*"
websocket-client = "*"
pip = "*"
install = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
